<a href="https://colab.research.google.com/github/pentakotanavya/navyapentakota/blob/main/assignment_17.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Assign the value 7 to the variable guess_me. Then, write the conditional tests (if, else, and elif) to print the string 'too low' if guess_me is less than 7, 'too high' if greater than 7, and 'just right' if equal to 7.

In [ ]:
guess_me = int(input("enter the value :   "))

if guess_me < 7:
   print("too low")
elif guess_me > 7:
   print("too high")
else:
   print("just right")

enter the value :   7
just right

2. Assign the value 7 to the variable guess_me and the value 1 to the variable start. Write a while loop that compares start with guess_me. Print too low if start is less than guess me. If start equals guess_me, print 'found it!' and exit the loop. If start is greater than guess_me, print 'oops' and exit the loop. Increment start at the end of the loop.

In [ ]:
guess_me = 7
start = 1
while start < guess_me :
       print("too low")
       start += 1
   
if start == guess_me :
            print("found it")
else:
          print("oops")

too low
too low
too low
too low
too low
too low
found it

3. . Print the following values of the list [3, 2, 1, 0] using a for loop.

In [ ]:
list = [3,2,1,0]

for i in list:
  print(i)

3
2
1
0

4. Use a list comprehension to make a list of the even numbers in range(10)

In [ ]:
newlist=[]

for i in range(1,11) :
   if i%2 == 0:
      newlist.append(i)

print(newlist)

[2, 4, 6, 8, 10]

5. Use a dictionary comprehension to create the dictionary squares. Use range(10) to return the keys, and use the square of each key as its value.

In [ ]:
squares = { i : i**2 for i in range(1,11)}

print(squares)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

6. Construct the set odd from the odd numbers in the range using a set comprehension (10).

In [ ]:
odd = set()
for i in range(1,11) :
      if i%2 !=0 :
         odd.add(i)
print(odd)

{1, 3, 5, 7, 9}

7. Use a generator comprehension to return the string 'Got ' and a number for the numbers in range(10). Iterate through this by using a for loop.

In [ ]:
gen= ('Got_'+str(x) for x in range(10))
for i in gen:
    print(i,end =' ')

Got_0 Got_1 Got_2 Got_3 Got_4 Got_5 Got_6 Got_7 Got_8 Got_9

8. Define a function called good that returns the list ['Harry', 'Ron', 'Hermione'].

In [ ]:
def good():
  list = ['Harry', 'Ron', 'Hermione']
  print(list)

good()

['Harry', 'Ron', 'Hermione']

9. Define a generator function called get_odds that returns the odd numbers from range(10). Use a for loop to find and print the third value returned.

In [ ]:
def odd():
  for i in range(1,10):
    if i%2 != 0 :
      yield i

for val in odd():
   print(val)

1
3
5
7
9

10. Define an exception called OopsException. Raise this exception to see what happens. Then write the code to catch this exception and print 'Caught an oops'.

In [ ]:
class OopsException(Exception):
    pass

def test(input):
    if input <0:
        raise OopsException(a)
try:
    test(-100)
except Exception as e:
    print('Caught in Oops ->',e)

Caught in Oops -> name 'a' is not defined

11. Use zip() to make a dictionary called movies that pairs these lists: titles = ['Creature of Habit', 'Crewel Fate'] and plots = ['A nun turns into a monster', 'A haunted yarn shop'].

In [ ]:
titles = ['Creature of Habit', 'Crewel Fate']
plots = ['A nun turns into a monster', 'A haunted yarn shop']
output = dict(zip(titles,plots))
print(output)

{'Creature of Habit': 'A nun turns into a monster', 'Crewel Fate': 'A haunted yarn shop'}