<a href="https://colab.research.google.com/github/pentakotanavya/navyapentakota/blob/main/program_assign_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.	Write a Python Program to Find the Factorial of a Number?

In [13]:
num = int(input("Enter a number: "))
factorial = 1
if num < 0:                   # check if the number is negative, positive or zero
   print(" factorial does not exist ")
elif num == 0:
   print("The factorial of 0 is 1")
else:
   for i in range(1,num + 1):
       factorial = factorial*i
   print("The factorial of",num,"is",factorial)

Enter a number: 6
The factorial of 6 is 720

2.	Write a Python Program to Display the multiplication Table?

In [19]:
num = int(input("Enter a number :"))
for i in range(1,13) :
    print(f"{num} * {i} = {num*i}")

Enter a number :4
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
4 * 11 = 44
4 * 12 = 48

3.	Write a Python Program to Print the Fibonacci sequence?

In [23]:
n = int(input("How many terms? "))
a =0                #first two terms
b = 1 
count = 0
if n <= 0:
   print("Please enter a positive integer")
elif n== 1:
   print("Fibonacci sequence upto",nterms,":")
   print(a)
else:
   print("Fibonacci sequence:")
   while count < n:
       print(a)
       c= a+b
      
       a= b                       # update values
       b = c
       count += 1

How many terms? 10
Fibonacci sequence:
0
1
1
2
3
5
8
13
21
34

4.	Write a Python Program to Check Armstrong Number?

In [36]:
num = 407
sum = 0     # initialize sum

temp = num           # find the sum of the cube of each digit
while temp > 0:
   digit = temp % 10
   sum = sum + digit ** 3
   temp //= 10

if num == sum:
   print(num,"is an Armstrong number")
else:
   print(num,"is not an Armstrong number")

407 is an Armstrong number

5.	Write a Python Program to Find Armstrong Number in an Interval?

In [68]:
lwr = int(input("Enter lower bound "))
uppr =int(input("Enter upper bound ")) 
print(f"The armstrong numbers between {lwr} and {uppr} are : ")
for numb in range(lwr, uppr + 1):
   odr = len(str(numb))         # order of number
   sum = 0
   tem = numb
   while tem > 0:
       digit = tem % 10
       sum += digit ** odr
       tem //= 10

   if numb == sum:
          print(numb)

Enter lower bound 100
Enter upper bound 500
The armstrong numbers between 100 and 500 are :
153
370
371
407

6.	Write a Python Program to Find the Sum of Natural Numbers?

In [74]:
sum = 0
n = int(input("enter the number "))
sum = n * (n+1)/2
print(sum)

enter the number 10
55.0